*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
}
.header{
    width: 100%;
    height: 75px;
}
.social-network-bar{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00a79e, #7F00FF);
    display: grid;
    align-items: center;
    justify-items: right;
    grid-template-columns: repeat(3, 1fr);
}
.name{
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}
.name a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}
.name a:hover{
    color: #24dd77;
    transition: all 0.5s;
}
.name img{
    width: 34px;
    height: 28px;
}
.img-social-container{
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
}
.about-me{
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 24px;
    align-content: center;
    justify-content: center;    
}
.about-me a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 33px;
    font-family: 'Silkscreen', cursive;
}
.about-me a:hover{
    color: #00ffea;
    transition: all 0.5s;
}
.social-network{
    width: 400px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    column-gap: 20px;
    align-items: center;
}
.social-network .a1{
    background-image: url('../assets/img/facebook-logo-white.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social-network .a2{
    background-image: url('../assets/img/Twitter_White_0.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social-network .a3{
    background-image: url('../assets/img/insta.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social-network .a4{
    background-image: url('../assets/img/linkedin-icon-18-256.png');
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social-network .a5{
    background-image: url('../assets/img/White-YouTube-Logo-Transparent.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*------------------------------------------------------------------------------------*/
.main{
    width: 100%;
    height: 628px;
    background-image: url('../assets/img/photo-1612287230202-1ff1d85d1bdf.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-info{
    width: 500px;
    height: 100%;
    display: grid;
    place-content: center;
    margin-left: 100px;
}
.main-info h1{
    font-size: 40px;
    color: #cc17e4;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
}
.main-info p{
    font-size: 25px;
    margin-bottom: 40px;
    color: rgb(240, 60, 222);
    font-family: 'Permanent Marker', cursive;
}
.main-info button{
    width: 170px;
    height: 55px;
    border-radius: 30px;
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    background: linear-gradient(to right, #ef32d9, #36fcf8);
}
.main-info button a{
    text-decoration: none;
    color: white;
}
.main-info button:hover{
    background: #00ffea;
    transition: all 0.5s;
}
.main-info button a:hover{
    color: #7F00FF;
    transition: all 0.5s;
}
/*----------------------------------ANOTHER PAGE(HOME)------------------------------------------------------*/ 
.home{
    display: grid;
    grid-template-rows: 380px 1200px 100px;
}
.last-post{
    background: linear-gradient(to right, #254a5a, #14827e, #2c3764);
}
.last-post-container{
    height: 100%;
    width: 900px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 295px;
}
.last-post-container h4{
    margin-top: 10px;
    color: white;
    grid-column: 1/3;
}
.last-post-info{
    text-align: center;
    color: white;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    padding: 20px;
    border-top: #75fff8 solid 3px;
    border-bottom: #75fff8 solid 3px;
    border-right: #75fff8 solid 3px;
}
.last-post-info h2{
    text-align: start;
    font-size: 23px;
}
.last-post-info p{
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(173, 173, 173);
}
.last-post-info button{
    height: 40px;
    width: 200px;
    border: 2px solid #00bb9f;
    background: none;
    border-radius: 20px;
}
.last-post-info button:hover{
    background: linear-gradient(to right, #008c85, #5906ab);
    transition: 0.7s;
    border: 2px solid white;
}
.last-post-info button a{
    text-decoration: none;
    color: white;
}
.last-post-img{
    background-image: url('../assets/img/66322-h2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: #75fff8 solid 3px;
    border-bottom: #75fff8 solid 3px;
    border-left: #75fff8 solid 3px;
}
/*----------------------------------------------------------------------------------------*/
.all-posts{
    background: linear-gradient(to right, #254a5a, #203a43, #2c3764);
    display: grid;
    place-content: center;
}
.all-posts-container{
    height: 1050px;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}
.all-post-item{
    border: #75fff8 solid 1px;
    background: linear-gradient(to right, #0c1d29, #2b4e63, #24343e); 
    color: white;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.all-post-item h5{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: start;
    padding: 10px;
    padding-right: 10px;
}
.all-post-item p{
    color: rgb(173, 173, 173);
    margin-bottom: 15px;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
}
.all-post-item-1 p{
    margin-bottom: 37px;
}
.all-post-item button{
    height: 40px;
    width: 150px;
    border: 2px solid #00bb9f;
    background: none;
    border-radius: 20px;
}
.all-post-item button:hover{
    background: linear-gradient(to right, #008c85, #5906ab);
    transition: 0.7s;
    border: 2px solid white;
}
.all-post-item button a{
    text-decoration: none;
    color: white;
}
.all-post-item-3{
    grid-column: 3/5;
    grid-row: 1/3;
}
.all-post-item-3 h5{
    font-size: 40px;
}
.all-post-item-3 p{
    font-size: 20px;
    margin-bottom: 70px;
}
.all-post-item-3 button{
    height: 80px;
    width: 300px;
}
.all-post-item-3 button a{
    font-size: 20px;
}
.all-post-item-img{
    width: 100%;
    height: 40%; 
}
/*------------------------------------------------------------------------------------------*/
.footer{
    background: linear-gradient(to right, #00837c, #5801b0);
    display: grid;
    place-items: center;
}
.icon-container{
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5px;
}
.icon-container:hover{
    height: 75px;
    width: 75px;
    transition: all 0.5s
}
.icon{
    height: 100%;
    width: 100%;
}
.text-icon{
    color: #01ffc8;
    margin-bottom: 30px;
    font-size: 13px;
}
/*----------------------------------ANOTHER PAGE(about me)------------------------------------------------------*/ 
.about-me-page{
    width: 100%;
    height: 700px;
    background: linear-gradient(to right, #254a5a, #14827e, #2c3764);
}
.about-me-page-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 75% 25%;
}
.my-info{
    margin: 0 auto;
    height: 100%;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70% 30%;
    color: white;
    column-gap: 30px;
}
.my-info-text h2{
    text-align: center;
    font-size: 40px; 
}
.my-info-text h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.my-info-text p{
    font-size: 20px;
    color: rgb(185, 185, 185);
    margin-left: 15px;
}
.my-info-text h4{
    margin-left: 15px;
    font-size: 25px;
    margin-top: 10px;
}
.my-info-img{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url('/assets/img/iconPixel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.my-info-tecno{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 120px;
    column-gap: 5px;
    background: linear-gradient(to right, #3f255a, #791482, #3e2c64);
    border: #75fff8 solid 1px;
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: 15px;

}
.my-info-tecno-item-1{
    background-image: url('../assets/img/csslog.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.my-info-tecno-item-2{
    background-image: url('../assets/img/htmllog.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.my-info-tecno-item-3{
    background-image: url('../assets/img/logo-javascript-icon-1024.png');
    background-size: 90px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.my-info-tecno-item-4{
    background-image: url('../assets/img/pythonlog.ico');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.my-info-tecno-item-5{
    background-image: url('../assets/img/Git-Icon-1788C.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.my-info-tecno-item-6{
    background-image: url('../assets/img/React-icon.svg.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.projects-container{
    margin: 0 auto;
    height: 100%;
    width: 1300px;
    display: grid;
    grid-template-rows: 25% 75%;
}
.projects-container h1{
    color: white;
    font-size: 30px;
    margin-left: 15px;
}
.projects-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    column-gap: 20px;
    padding-top: 15px;
}
.proyect-1{
    background: linear-gradient(to right, #008c85, #5906ab);
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: white;
}
.proyect-1:hover{
    background: linear-gradient(to right, #ffffff, #2f2f2f);
    color: rgb(0, 0, 0);
    transition: 1s;
}
.proyect-2{
    background: linear-gradient(to right, #008c85, #5906ab);
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: white;
}
.proyect-2:hover{
    background: linear-gradient(207.8deg, #533215 16.69%, #F7931A 100%);
    color: rgb(85, 38, 0);
    transition: 1s;
}
.proyect-3{
    background: linear-gradient(to right, #008c85, #5906ab);
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: white;
}
.proyect-3:hover{
    background: linear-gradient(to right, #dd00ff, #00d61d);
    color: rgb(0, 198, 92);
    transition: 1s;
}
